<div id="mainWrapper">
  <header>
    <!-- This is the header content. It contains Logo and links -->
    <div id="logo">
      <!-- <img src="logoImage.png" alt="sample logo"> -->
      <!-- Company Logo text -->
      LOGO
    </div>
    <div id="headerLinks"><a href="#" title="Login/Register">Login/Register</a><a href="#" title="Cart">Cart</a></div>
  </header>
  <section id="offer">
    <app-slide></app-slide>
  </section>
  <div id="content">
    <section class="sidebar">
      <app-category></app-category>
    </section>
    <section class="mainContent">
      <app-product-list></app-product-list>
    </section>
  </div>
  <footer>
    <!-- This is the footer with default 3 divs -->
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius sem neque. Integer ornare.</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius sem neque. Integer ornare.</p>
    </div>
    <div class="footerlinks">
      <p><a href="#" title="Link">Link 1 </a></p>
      <p><a href="#" title="Link">Link 2</a></p>
      <p><a href="#" title="Link">Link 3</a></p>
    </div>
  </footer>
</div>