<div class="productRow">
  <!-- Each product row contains info of 3 elements -->
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
  <app-product class="productInfo"></app-product>
</div>